<filepath="A_outline.png" id="TEXID_A_outline" colfmt=6 />
<filepath="B_outline.png" id="TEXID_B_outline" colfmt=6 />
<filepath="CStick_outline.png" id="TEXID_CStick_outline" colfmt=6 />
<filepath="CStick.png" id="TEXID_CStick" colfmt=6 />
<filepath="CStick_base.png" id="TEXID_CStick_base" colfmt=6 />
<filepath="LeftStick.png" id="TEXID_LeftStick" colfmt=6 />
<filepath="LeftStick_base.png" id="TEXID_LeftStick_base" colfmt=6 />
<filepath="Outline.png" id="TEXID_Outline" colfmt=6 />
<filepath="Start_outline.png" id="TEXID_Start_outline" colfmt=6 />
<filepath="Stick_outline.png" id="TEXID_Stick_outline" colfmt=6 />
<filepath="X_outline.png" id="TEXID_X_outline" colfmt=6 />
<filepath="Y_outline.png" id="TEXID_Y_outline" colfmt=6 />
<filepath="dpad_outline.png" id="TEXID_dpad_outline" colfmt=6 />
<filepath="L_outline.png" id="TEXID_L_outline" colfmt=6 />
<filepath="R_outline.png" id="TEXID_R_outline" colfmt=6 />
<filepath="Z_outline.png" id="TEXID_Z_outline" colfmt=6 />