<filepath="LeftStick.png" id="TEXID_LeftStick" colfmt=6 />
<filepath="LeftStick_base.png" id="TEXID_LeftStick_base" colfmt=6 />
<filepath="CStick.png" id="TEXID_CStick" colfmt=6 />
<filepath="CStick_base.png" id="TEXID_CStick_base" colfmt=6 />
