<filepath="A_pressed.png" id="TEXID_A_pressed" colfmt=6 />
<filepath="B_pressed.png" id="TEXID_B_pressed" colfmt=6 />
<filepath="CStick_pressed.png" id="TEXID_CStick_pressed" colfmt=6 />
<filepath="Start_pressed.png" id="TEXID_Start_pressed" colfmt=6 />
<filepath="Stick_pressed.png" id="TEXID_Stick_pressed" colfmt=6 />
<filepath="X_pressed.png" id="TEXID_X_pressed" colfmt=6 />
<filepath="Y_pressed.png" id="TEXID_Y_pressed" colfmt=6 />
<filepath="dpad_pressed.png" id="TEXID_dpad_pressed" colfmt=6 />
<filepath="dpad_full.png" id="TEXID_dpad_full" colfmt=6 />
<filepath="L_pressed.png" id="TEXID_L_pressed" colfmt=6 />
<filepath="L_analog.png" id="TEXID_L_analog" colfmt=6 />
<filepath="R_pressed.png" id="TEXID_R_pressed" colfmt=6 />
<filepath="R_analog.png" id="TEXID_R_analog" colfmt=6 />
<filepath="Z_pressed.png" id="TEXID_Z_pressed" colfmt=6 />